.product {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #555;
}

.product h2,
.product p {
  margin-bottom: 1rem;
  color: #1a1a1a; /* Cor mais escura para o texto */
}

.product h2::first-letter {
  text-transform: uppercase;
}
